
@model CBUSA.Areas.Admin.Models.ManageUserViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserID)
    <h4>Create Local Login</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div id="passwordMsg">
            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="NewPassword" data-valmsg-for="NewPassword" id="NewPassword_validationMessage" role="alert"><span class="k-icon k-warning"> </span> <div style="text-align: left;"><p>Password should have at least 1 number and 1 letter.</p><p>Password should be 8 characters long.</p><p>Password should have at least 1 upper case and 1 lower case letter.</p><p>Password should have at least one special character, e.g. !, # ,  @Html.Raw('@'), % etc.</p><p>Passwords used before will not be allowed.</p></div></span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Set password" class="btn btn-default" />
        </div>
    </div>
}
