@model IEnumerable<CBUSA.Areas.Admin.Models.MarketBuilderViewModel>

@{
    int Flag = 0;
    int Count = 1;

}

<div class="color-border">
    @foreach (var Item in Model)
        {

            if (Count > 2)
            {
                Count = 1;
            }


            if ((Flag % 2) == 0)
            {

                @:<div class="row">
             }

            if (Item.Builders.Count > 0)
            {
                <div class="col-md-6">
                    <div class="highlight-title-text">@Item.MarketName</div>
                    @foreach (var Itemchild in Item.Builders)
                       {
                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" name="ChkBuilderSelect" checked="checked" />
                                <input type="hidden" value="@Itemchild.BuilderId" />
                            </div>
                            <div class="col-md-10 market-builder" data-builder-name="@Itemchild.BuilderName">
                                @Itemchild.BuilderName
                            </div>
                        </div>
                         }
                    </div>
                    }


                    if ((Count % 2 == 0))
                    {
                    @:</div>
                     }


            Flag = Flag + 1;
            Count = Count + 1;

        }

    <div class="row margin-top20">

        <button type="button" class="btn btn-info" id="BtnSaveContractBuilder">Save</button>
        <a id="BtnMarketBuildersViewDetails">View All</a>
    </div>
    
</div>

@*@foreach (var Item in Model)
    {

        if (Count > 2)
        {
            Count = 1;
        }


        if ((Flag % 2) == 0)
        {

            @:<div class="ss">
         }


        if (Item.Builders.Count > 0)
        {

            <div style="width:33.3%;float:left;">
                <div>
                    <h5>@Item.MarketName</h5>
                    <table style="width:100%" class="ShowZoneStateTable">
                        @foreach (var Itemchild in Item.Builders)
                        {
                            <tr>
                                <td style="width:20%" align="center">
                                    <input type="checkbox" name="ChkBuilderSelect" />
                                    <input type="hidden" value="@Itemchild.BuilderId" />
                                </td>
                                <td style="width:80%">
                                    <span>@Itemchild.BuilderName</span>

                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        }


        if ((Count % 2 == 0))
        {
            @:</div>
        <div style="clear:both"></div>
        }


        Flag = Flag + 1;
        Count = Count + 1;




    }*@







