<div>
    <div class="block-div btm-top-padding15">
        <div class="mang-cont-head">
            <ul id="ulTask">
                <li class="active-mang-cont" id="acli"><a href="@Url.Action("ManageActiveContracts", "Contract")" title="Active Contracts">Active Contracts</a></li>
                <li><a href="@Url.Action("ManagePendingContracts", "Contract")" title="Pending Contracts">Pending Contracts</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block-div btm-top-padding15">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-bg">
                    <tr>
                        <th width="2%" class="text-center">#</th>
                        <th width="18%"><a href="#" id="asccon"><span id="ascicon"><i class="fa fa-caret-down" aria-hidden="true"></i></span></a><a href="#" id="desccon"><span id="descicon" hidden="hidden"><i class="fa fa-caret-up" aria-hidden="true"></i></span></a> Contract</th>
                        <th class="text-center" width="18%"><a href="#" id="ascncp"><span id="ascincp"><i class="fa fa-caret-down" aria-hidden="true"></i></span></a><a href="#" id="descncp"><span id="descincp" hidden="hidden"><i class="fa fa-caret-up" aria-hidden="true"></i></span></a> National Contract Partner</th>
                        <th class="text-center" width="23%"><a href="#" id="ascpc"><span id="ascipc"><i class="fa fa-caret-down" aria-hidden="true"></i></span></a><a href="#" id="descpc"><span id="descipc" hidden="hidden"><i class="fa fa-caret-up" aria-hidden="true"></i></span></a> Product</th>
                        <th class="text-center" width="12%"><a href="#" id="ascbj"><span id="ascibj"><i class="fa fa-caret-down" aria-hidden="true"></i></span></a><a href="#" id="descbj"><span id="descibj" hidden="hidden"><i class="fa fa-caret-up" aria-hidden="true"></i></span></a> Builders Joined</th>
                        <th class="text-center" width="8%"><a href="#" id="ascst"><span id="ascist"><i class="fa fa-caret-down" aria-hidden="true"></i></span></a><a href="#" id="descst"><span id="descist" hidden="hidden"><i class="fa fa-caret-up" aria-hidden="true"></i></span></a> Status</th>
                        <th class="text-center" width="17%"><a href="#" id="ascct"><span id="ascict"><i class="fa fa-caret-down" aria-hidden="true"></i></span></a><a href="#" id="descct"><span id="descict" hidden="hidden"><i class="fa fa-caret-up" aria-hidden="true"></i></span></a> Contract Term</th>
                    </tr>
                </thead>
                @(Html.Kendo().ListView<CBUSA.Areas.Admin.Models.ActiveContractViewModel>()
                        .Name("listViewContractActiveAsc")
                        .TagName("tbody")
                        .ClientTemplateId("TemplateActiveContract")

                        .DataSource(dataSource =>
                        {
                            dataSource.Read(read => read.Action("ActiveContractListViewAscCon", "Contract").Data("SendContractIdAsParameterOrder"));
                                        //dataSource.PageSize(21);
                                    })
                        .Events(e => e.DataBound("listViewContractActiveAsc_dataBound"))
                        .AutoBind(true)
                )
                <input type="hidden" id="HdnResourcePageValue" value="1" />
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="btm-top-padding15">* View archived contracts  <a href="@Url.Action("ManageArchievedContracts", "Contract")">here</a>. Contracts ended for more than 30 days are archived automatically.</div>
</div>
<input type="hidden" id="hdnPageName" value="ActiveContracts" />
<div>
</div>
@(Html.Kendo().Window()
                            .Name("BuilderDetails")
                            .Title("Builder Details")
                            .Actions(actions => actions
                                .Close()
                            )
                            .Visible(false)
                            .Draggable()
                                    .Resizable()
                                    .Width(580)
                                    .Height(410)
                                    .Modal(true)
                                    //.Scrollable(true)
                                    .Events(e => e.Open("OnOpenContactResource").Refresh("OnRefreshContractResource"))
)

@section scripts
{
    <script type="text/javascript">
        var AjaxCallUrl =
                {
                    archievedcontracts: '@Url.Action("ManageArchievedContracts", "Contract", new { Area = "Admin" })',
                    RedirectContractUrl: '@Url.Action("ViewContract", "Contract", new { Area = "Admin", ContrcatId = "****ContractId****" })',
                    BuilderDetailsUrl: '@Url.Action("BuilderDetails", "Contract", new { Area = "Admin" })'
                };
    </script>

    <script type="text/javascript">
        function listViewContractActiveAsc_dataBound() {
            $(".MoreSpan").shorten({
                "showChars": 100,
                "moreText": "More...",
                "lessText": "Less...",
            });
        }
    </script>

    <script type="text/x-kendo-tmpl" id="TemplateActiveContract">
        <tr>
            <td width="2%" class="text-center"><span id="spnRowNumber">#:rowcount#</span></td>
            <td width="18%"><a onclick="RedirecttoContract('#:ConractId#')" id="view">#:ConractName#</a></td>
            <td width="18%" class="text-center"><a href="http://#:Website#" title="Vendor 1" target="_blank"> #:ManuFacturerName# </a></td>
            <td width="25%" class="text-center"><span class="MoreSpan">#:ProductList#</span></td>
            <td width="10%" class="text-center"><a onclick="popup('#=ConractId#')">#:BuilderCount#</a></td>
            <td width="8%" class="text-center">#:ContractStatus#</td>
            <td width="17%" class="text-center">#:ContractFrom# to #:ContractTo#</td>
        </tr>
    </script>

    <script type="text/x-kendo-tmpl" id="TemplateBuilder">
        <tr style="width:100%" class="trBuilderList">
            <td width="300px" class="text-center">#:BuilderName#</td>
            <td width="200px" class="text-center">#:MarketName#</td>
        </tr>
    </script>


    <script src="@Url.Content("~/Scripts/Custom/AdminContractShorting.js?v="+@DateTime.Now.ToFileTime().ToString())"></script>
    <script src="@Url.Content("~/Scripts/Custom/jquery.shorten.1.0.js?v="+@DateTime.Now.ToFileTime().ToString())"></script>
}


